@{
    ViewData["Title"] = "Forbidden";
}

<div class="text-center">
    <h1 class="display-4">Forbidden, Must Login With Director Account</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
